

@*<div id="myModal" class="modal" style="display: none;">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">×</span>
        <label for="fname">Create New Group</label>
        <input type="text" id="groupname" name="GroupName" placeholder="Group name..">
        <input type="text" id="peopleingroup" name="peopleingroup" placeholder="Who you want to add ? (seperate the names with space)">
        <input type="submit" id="createnewgroupbtn" value="Submit">
    </div>

</div>*@

<section class="popwrap" id="myModal" style="display: none;">
    <div class="menu" style="opacity: 1; left: 0px;">
			
        <div style="padding:10px">
            <span class="close">×</span>
        <div class="ng">
            <i class="material-icons"></i>

            <span>New Group</span>
        </div>
            <input type="text" id="groupname" name="GroupName" placeholder="Group name..">
            <input type="text" id="peopleingroup" name="peopleingroup" placeholder="Who you want to add ? (seperate the names with space)">
            <input type="submit" id="createnewgroupbtn" value="Submit">


        </div>
    </div>
</section>